@font-face {
    font-family: 'CarefreeCyrillicNormal';
    src: url("../fonts/CarefreeCyrillicNormal.ttf") format('truetype');
}

@font-face {
    font-family: 'TTProsSansBlack';
    src: url("../fonts/TTProsSansBlack.otf") format('truetype');
}

@font-face {
    font-family: 'TTProstSansBlackItalic';
    src: url("../fonts/TTProstoSansBlackItalic.otf") format('truetype');
}

@font-face {
    font-family: 'TTProstSansBold';
    src: url("../fonts/TTProstoSansBold.otf") format('truetype');
}

@font-face {
    font-family: 'TTProstSansBoldItalic';
    src: url("../fonts/TTProstoSansBoldItalic.otf") format('truetype');
}

@font-face {
    font-family: 'TTProstSansItalic';
    src: url("../fonts/TTProstoSansItalic.otf") format('truetype');
}

@font-face {
    font-family: 'TTProstSansLight';
    src: url("../fonts/TTProstoSansLight.otf") format('truetype');
}

@font-face {
    font-family: 'TTProstSansRegular';
    src: url("../fonts/TTProstoSansRegular.otf") format('truetype');
}

@font-face {
    font-family: 'TTProstSansThin';
    src: url("../fonts/TTProstoSansThin.otf") format('truetype');
}

@font-face {
    font-family: 'PT_Serif-Web-Bold';
    src: url("../fonts/PT_Serif-Web-Bold.ttf") format('truetype');
}

